*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --flow-space: 1.5em;
  --jl-text-font-size-md: clamp(1.000rem, 1.0227rem + 0.4545vw, 1.250rem);
  --jl-text-font-size-lg: clamp(1.250rem, 1.3177rem + 0.8084vw, 1.500rem);
  --jl-text-font-size-xl: clamp(1.500rem, 1.6921rem + 1.3639vw, 1.750rem);
  --jl-text-font-size-2xl: clamp(1.750rem, 2.1645rem + 2.223vw, 2.500rem);
  --jl-text-font-size-3xl: clamp(2.500rem, 2.7565rem + 3.5358vw, 3.000rem);
  --jl-color-default-bg-document: #faf9f7;
  --jl-color-default-color-document: #1a1a1a;
  --jl-color-default-inverse-bg-document: #1a1a1a;
  --jl-color-default-inverse-color-document: #faf9f7;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin-inline: 0;
}

body {
  background-color: var(--jl-color-default-bg-document);
  color: var(--jl-color-default-color-document);
  font-size: var(--jl-text-font-size-md);
  line-height: 1.5;
  font-family: "Georgia", "Times New Roman", serif;
  max-width: 1200px;
  min-height: 100vh;
  padding: 1rem 1rem 8rem 1rem;
  margin: 0 auto;
}

ul, ol {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

picture {
  max-width: 100%;
  display: block;
}

:target {
  scroll-margin-block: 5ex;
}

h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--jl-text-font-size-3xl);
  max-width: 18ch;
}

h2 {
  font-size: var(--jl-text-font-size-2xl);
}

h3 {
  font-size: var(--jl-text-font-size-xl);
}

h4 {
  font-size: var(--jl-text-font-size-lg);
}

p {
  max-width: 48ch;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.disclaimer {
  background-color: var(--jl-color-default-inverse-bg-document);
  color: var(--jl-color-default-inverse-color-document);
  padding: 1rem;
}

.disclaimer-content {
  margin-block-start: 0;
}

.work__item {
  margin-block-start: 4rem;
}

.work__logo--nlds {
  width: 3rem;
}

.work__logo--ns {
  width: 5rem;
}

.work__logo--nn {
  width: 3rem;
}

.work__logo--randstad {
  width: 5rem;
}

.quote {
  font-size: var(--jl-text-font-size-lg);
}

.quote__author {
  margin-block-start: 1rem;
}
