*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --flow-space: 1.5em;
  --jl-text-font-size-ms: clamp(0.875rem, 0.7296rem + 0.3005vw, 1.000rem);
  --jl-text-font-size-md: clamp(1.000rem, 0.912rem + 0.3756vw, 1.250rem);
  --jl-text-font-size-lg: clamp(1.250rem, 1.14rem + 0.4695vw, 1.500rem);
  --jl-text-font-size-xl: clamp(1.500rem, 1.425rem + 0.5869vw, 1.750rem);
  --jl-text-font-size-2xl: clamp(1.750rem, 1.7812rem + 0.7336vw, 2.500rem);
  --jl-text-font-size-3xl: clamp(2.500rem, 2.2265rem + 0.917vw, 3.000rem);
  --jl-text-font-size-4xl: clamp(3.000rem, 2.7831rem + 1.1462vw, 4.000rem);
  --jl-color-default-bg-document: #faf9f7;
  --jl-color-default-color-document: #1a1a1a;
  --jl-color-default-inverse-bg-document: #1a1a1a;
  --jl-color-default-inverse-color-document: #faf9f7;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin-inline: 0;
}

body {
  background-color: var(--jl-color-default-bg-document);
  color: var(--jl-color-default-color-document);
  font-size: var(--jl-text-font-size-md);
  line-height: 1.5;
  font-family: "Georgia", "Times New Roman", serif;
  max-width: 1200px;
  min-height: 100vh;
  padding: 1rem 1rem 8rem 1rem;
  margin: 0 auto;
}

ul, ol {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

picture {
  max-width: 100%;
  display: block;
}

:target {
  scroll-margin-block: 5ex;
}

.heading-display, .heading-1, .heading-2, .heading-3, .heading-4 {
  font-weight: 400;
  line-height: 1.1;
  text-wrap: balance;
}

.heading-display {
  font-size: var(--jl-text-font-size-4xl);
  max-width: 18ch;
}

.heading-1 {
  font-size: var(--jl-text-font-size-3xl);
}

.heading-2 {
  font-size: var(--jl-text-font-size-2xl);
}

.heading-3 {
  font-size: var(--jl-text-font-size-xl);
}

.heading-4 {
  font-size: var(--jl-text-font-size-lg);
}

.paragraph, .paragraph-lead {
  max-width: 48ch;
}

.paragraph-lead {
  font-size: var(--jl-text-font-size-lg)
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.logo {
  display: inline-block;
  background-color: var(--jl-color-default-inverse-bg-document);
  color: var(--jl-color-default-inverse-color-document);
  font-size: var(--jl-text-font-size-md);
  font-weight: 400;
  padding: 0.5rem;
}

.disclaimer {
  background-color: var(--jl-color-default-inverse-bg-document);
  color: var(--jl-color-default-inverse-color-document);
  padding: 1rem;
}

.disclaimer-content {
  margin-block-start: 0;
}

.navigation-list {
  display: flex;
  column-gap: 1rem;
  flex-flow: wrap;
}

.work__item {
  margin-block-start: 4rem;
}

.work__logo--nlds {
  width: 3rem;
}

.work__logo--ns {
  width: 5rem;
}

.work__logo--nn {
  width: 3rem;
}

.work__logo--randstad {
  width: 5rem;
}

.work__logo--kpn {
  width: 6rem;
}

.quote {
  border-inline-start: 4px solid var(--jl-color-default-color-document);
  padding-inline-start: 1rem;
}

.quote__author {
  font-size: var(--jl-text-font-size-sm);
  margin-block-start: 1rem;
}
